.datas-container{
  --table-spacing:1rem;

    .top{
    display:flex;
    align-items: center;
    padding:var(--table-spacing)
  }

}

.data-table{
  display:flex;
  flex-direction: column;
  min-height:50vh;
  padding:var(--table-spacing);
  
}

.searching {
  margin-left:auto;
}

thead{

  th,
  & .heading{
    cursor:pointer;

    @media all and (max-width:1200px){
          padding-inline:0.2rem;
          font-size: .8rem;
    }
      
      .order-icon{
        margin-inline: .85rem;
        font-size:.95rem;
        color:var(--background);
      }
   }

}


.table{

  &-row{
    display:block;
  }

  &-label,
  &-cell{
    width:100px;
    padding:.55rem;
    text-align: center;
    color:var(--white-color);
    font-weight: bold;

    &:last-of-type{
      width:230px;
    }
  }
  

  &-label{
    background: gray;
    border: 2px solid blue;
  }

  &-cell{
    background: blue;
    border: 2px solid grey;

    &-full{
      width:100%;
      background: crimson;
      border: 2px solid grey;

    }
      
  }
}

