.data-table{
  display:flex;
  flex-direction: column;
  min-height:50vh;
  background:var(--background);
  padding:2rem;
  color:var(--color-white);
}


thead{
  th{
    cursor:pointer
  }
}

.table{

  &-row{
    display:block;
  }

  &-label,
  &-entry{
    width:100px;
    padding:.55rem;
    text-align: center;
    color:var(--white-color);
    font-weight: bold;

    &:last-of-type{
      width:230px;
    }
  }
  

  &-label{
    background: gray;
    border: 2px solid blue;
  }
    &-entry{
      background: blue;
      border: 2px solid grey;
      
    }
}

