.modal-success-container{
  --op:.55;
  --bg-modal-content:0,0,0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset:0 0 0 0;
  width:100dvw;
  height:100dvh;
  background:linear-gradient(to bottom, rgba(var(--bg-modal-content),var(--op)) 0%, rgba(var(--bg-modal-content),var(--op)) 100%);
  opacity: 0;
  transition:all .22s ease-in-out;
  transform:translateY(-100%);

  &.show{
    animation: fadeIn 0.45s ease-in-out forwards;
  }
  
}


  .modal-content{
    position: relative;
    width:30%;
    height:20dvh;
    padding:2rem;
    border-radius: var(--radius);
    background:var(--white-color);

    .closer{
      --posAbs: -10px;
      position: absolute;
      top: var(--posAbs);
      right: var(--posAbs);
      font-size: 1.15rem;
      background: var(--white-color);
      border-radius: 50%;

      &:hover{
        cursor:pointer;
      }
    }

  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform:translateY(-100%);
    }
    100% {
      opacity: 1;
      transform:translateY(0);
      
    }
  }
