:root {
  --background: #ffffff;
  --foreground: #171717;
  --black-color:#222;
  --white-color:#FFF;
  --debeug-color:crimson;
  --debeug:3px dotted var(--debeug-color);
}



body {
  color: var(--color);
  background: var(--background);
  font: {
    size:var(--body-font-size);
    family: Arial, Helvetica, sans-serif;
  } 
}

.skeleton {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap:3rem;
}
 
.container{
  background:var(--foreground);
  padding:2rem;

  color:var(--black-color);

  select{
    background:var(--black-color);
    color:var(--white-color);
  }
}

.debeug{
  outline:var(--debeug);
}

.data-table{
  display:flex;
  flex-direction: column;
  min-height:50vh;
  width:50%;
  background:var(--background);
  padding:2rem;
}

.table-label{
  text-align: center;
  color:var(--white-color);
  font-weight: bold;
}


.btn{
  background-color:var(--white-color);
  color:var(--black-color);
  padding:1rem;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color:white;
    --body-font-size:1rem;
  }
}