select{
  background: var(--black-color);
  color: var(--white-color);
  padding: .5rem;
  border-radius: 5px;
}

input{
  background: var(--white-color);
  color: var(--black-color);
  padding: .5rem;
  border-radius: 5px;

}